.second-main{
    background-image: url("../images/pratiksha-mohanty-V0xp-dTS3z0-unsplash (1).jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 85vh;
}

.whole-address{
    width: 100%;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    height: 100%;
}
.address p a{
    color: white;
}
.address-logo i{
    
    background-color: rgba(255, 255, 255, 0.196);
    border-radius: 50%;
    padding: 1rem;
    margin-right: 10px;
}

main.container-fluid{
    background-image: url("../images/vertical1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.phone,.addresss,.email{
    width: 100%;
    margin: 5px 0;
    letter-spacing: 3px;
    /* font-size: 33px; */
}
form{
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
}
.form{
    background-color: rgba(255, 255, 255, 0.103);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    padding: 1rem;
    width: 100%;
}
.form button{
    color: white;
    border: 0;
    margin-top: 1rem;
    padding: 5px 20px ;
    border-radius: 5px;
    background-color: rgb(0, 0, 41);
}
.form input,textarea{
    width: 100%;
    margin-top: 1rem;
    padding: 5px;
    border: 0;
    border-bottom: 1px solid black;
}
.form input:focus,textarea:focus{
    outline: 0;
}
.boxes{
    justify-content: space-evenly;
    align-items: center;
    bottom: 30px;
    width: 100%;
    position: absolute;
}
.box1,.box2,.box3{
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    white-space: nowrap;
    background-color: rgba(2, 130, 152, 0.139);
    box-shadow: 0 0 30px black;
    min-height: 200px;
    min-width: 250px;
    padding: 15px 0;
}
.whole-address{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(2, 130, 152, 0.139); */
    /* box-shadow: 0 0 30px black; */
    min-height: 150px;
    padding: 10px;
    min-width: 150px;
}

@media screen and (max-width:520px){
    .second-main{
        height: 40vh;
    }
}