.second-main{
    background-image: url("../images/pratiksha-mohanty-V0xp-dTS3z0-unsplash (1).jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}