.second-main{
    background-image: url("../images/why/products.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    text-shadow: 0 0 5px black;
}
.categories{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px;
    display: flex;
    justify-content: start;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: rgb(18, 18, 18);
}
.categories .cat{
    background-position:center;
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 20px;
    margin: 0 10px 0 0;
    color: rgb(241, 241, 241);
    background-color: rgb(100, 100, 100);
    white-space: nowrap;
   border-radius: 20px;
    padding: 8px 45px;
    
}

@media screen and (max-width:720px) {
    .second-main{
        height: 65vh;
    }
    
}