.second-main{
    background-image: url("../images/condiments-powder-table.jpg");
    /* background-color: black ; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 60vh;
}
.whole-whybanner .bannerimage{
    background-color: rgba(0, 87, 154, 0.112);
    margin: 20px 0;
}
.whole-whybanner .bannerimage h4{
    margin: 20px 0;
}


/* .delieveryboy{
    transform: translateX(-400px);
    transition: transform 2s ease-in-out;
} */